@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    text-align: center;
    color: #fffff0;
    line-height: 1.4;
    margin-right: 10%;
    margin-left: 10%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.InfoBox {
    padding: 2rem;
    outline-color: rgb(194, 136, 50);
    outline-width: 1rem;
    outline-style: groove;
    text-align: center;
}

.FlexContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 3rem;
}

.Information {

}